* {
	font-family: 'Myriad Pro Regular' !important;
}

html, body {
	overflow-x: hidden;
}

p {
	font-size: 24px;
}

/* .main-banner .container::before {
	content: " ";
	height: 150px;
	width: 170px;
	background-image: url(../img/joe-logo-trans.png);
	background-size: 170px 150px;
	display: inline-block;
	text-align: center;
	margin-top: -25px;
	margin-bottom: 20px;
} */

header {
	z-index: 9999999999 !important;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

h3.site-description {
	letter-spacing: 12px;
	font-size: 18px;
}

#masthead {
	height: 100px;
}

#site-navigation {
	/* float: right !important; */
	width: auto !important;
	line-height: 65px;
	margin-top: 25px;
	/* position: relative;
	top: 0; */
}

header#masthead .container .row .col-sm-12::after {
	content: "";
	clear: both;
	display: table;
}

#siteLogo {
	height: 70px;
	margin: 10px 0;
}

.entry-title {
	text-align: center;
	font-size: 44px;
	margin-bottom: 65px !important;
}

#content.site-content {
	padding-bottom: 0;
}

.wrapper {
	  width: 100%;
	  padding: 0 2rem;
	  text-align: center;
	  margin-bottom: 50px;
	  display: flex;
	  justify-content: center;
	}
	.polaroid {
	  background: #fff;
	  padding: 1rem;
	  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
	  height: 405px;
	  
	}
	.polaroid > img{
	  height: auto;
	  object-fit: cover;
	}
	.caption {
	  font-size: 52px;
	  text-align: center;
	  padding: 2px;
	  font-family: "Caveat" !important;
	}
	.item {
	  display: inline-block;
	}
	
	.item .polaroid:before {
	  content: '';
	  position: absolute;
	  z-index: -1;
	  transition: all 0.35s;
	}
	.item:nth-of-type(4n+1), .right .item {
	  transform: scale(0.8, 0.8) rotate(5deg);
	  transition: all 0.35s;
	}
	.item:nth-of-type(4n+1) .polaroid:before,
	.right .item .polaroid:before {
	  transform: rotate(6deg);
	  height: 20%;
	  width: 47%;
	  bottom: 30px;
	  right: 12px;
	  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
	}
	.item:nth-of-type(4n+2), .left .item {
	  transform: scale(0.8, 0.8) rotate(-5deg);
	  transition: all 0.35s;
	}
	.item:nth-of-type(4n+2) .polaroid:before,
	.left .item .polaroid:before {
	  transform: rotate(-6deg);
	  height: 20%;
	  width: 47%;
	  bottom: 30px;
	  left: 12px;
	  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
	}
	.item:nth-of-type(4n+4) {
	  transform: scale(0.8, 0.8) rotate(3deg);
	  transition: all 0.35s;
	}
	.item:nth-of-type(4n+4) .polaroid:before {
	  transform: rotate(4deg);
	  height: 20%;
	  width: 47%;
	  bottom: 30px;
	  right: 12px;
	  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
	}
	.item:nth-of-type(4n+3) {
	  transform: scale(0.8, 0.8) rotate(-3deg);
	  transition: all 0.35s;
	}
	.item:nth-of-type(4n+3) .polaroid:before {
	  transform: rotate(-4deg);
	  height: 20%;
	  width: 47%;
	  bottom: 30px;
	  left: 12px;
	  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
	}
	.item:hover {
	  filter: none;
	  transform: scale(1, 1) rotate(0deg) !important;
	  transition: all 0.35s;
	}
	.item:hover .polaroid:before {
	  content: '';
	  position: absolute;
	  z-index: -1;
	  transform: rotate(0deg);
	  height: 90%;
	  width: 90%;
	  bottom: 0%;
	  right: 5%;
	  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
	  transition: all 0.35s;
	}
	
.sticky-top .main-banner {
	margin-top: 150px !important;
	padding: 20px 0 !important;
}

.wrapper.left,
.wrapper.right {
	display: block;
	padding: 0 !important; 
}

.wrapper.left .item,
.wrapper.right .item {
	width: 336px;
}

.disclaimer {
	margin-top: 50px;
	text-align: left;
	font-size: 16px;
}

.hdr {
	position: relative;
}

.hdr nav {
	position: absolute;
	top: 0;
	right: 0;
}

.mainHomeContent, .fullSpanItem {
	font-size: 22px;
}

p.bl {
	padding-top: 12px;
}

p.bl::first-letter {
	font-size: 100px;
	line-height: 22px;
}

.WIAwrapper {
	padding: 0 2rem;
	text-align: center;
	margin-bottom: 50px;
}
.WIAwrapper .polaroid {
	background: #fff;
	padding: 1rem;
	box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
	height: 405px;
	width: 100%;
}

.WIAwrapper .polaroid > img{
	max-width: 100%;
	height: auto;
}

.WIAwrapper .caption {
	font-size: 48px;
	text-align: center;
	padding: 1px  2px;
	font-family: "Caveat" !important;
}

.WIAwrapper .item .polaroid:before {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.35s;
}
.WIAwrapper .item {
	transform: scale(0.8, 0.8) rotate(5deg);
	transition: all 0.35s;
}
.WIAwrapper .item .polaroid:before {
	transform: rotate(6deg);
	height: 20%;
	width: 47%;
	bottom: 30px;
	right: 12px;
	box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.hrBreakContainer {
	width: 100%;
	margin: 120px 0;
}

.hrBreakContainer hr:not(.is-style-wide):not(.is-style-dots) {
	width: 100%;
	background: none !important;
	height: 2px !important;
}

.hrBreakContainer hr:not(.is-style-wide):not(.is-style-dots)::before {
	width: 100%;
} 

.logocont {
	width: 300px;
	height: 30px;
	margin: -48px auto 0 auto;
	background: white;
	display: flex;
	justify-content: space-evenly;
}

.logocont span:nth-child(1), 
.logocont span:nth-child(3) {
	height: 30px;
	width: 30px;
	background: url("../img/dark.svg");
}

.logocont span:nth-child(2) {
	height: 30px;
	width: 30px;
	background: url("../img/normal.svg");
}
.WIAwrapper {
	display: inline;
}
.fullSpanContent {
	width: 60%;
	display: inline-block;
	float: right;
	text-align: left;
}

.fullSpanContent h2 {
	font-size: 2.25em;
}

.fullSpanCont {
	display: flex;
}

.polariod {
	width: 310px !important;
	height: 385px !important;
}

.polaroid > img {
	width: 310px !important;
	height: 310px !important;
	object-fit: cover;
}

.fullSpanContent h3 {
	font-size: 32px;
}

.fa-angle-up {
	padding-top: 10px;
}

.fa-angle-up:before {
	content: "\21D1" !important;
}

#content:not(.homePage) {
	margin-top: 150px;
}

#main .post, #main .page, #main article.product {
	border: none !important;
}

#main {
	position: relative;
	padding: 0 !important;
}

.blogPage article.post {
	display: block;
	position: absolute;
	background: #fff;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	float: left;
	text-align: left;
	width: 300px;
	padding-bottom: 30px;
}

.blogPage #main article.post {
	border: 1px solid #0098CA !important;
/* 	padding: 15px; */
}

.blogPage #main article.post .detail-wrap .entry-content,
.blogPage #main article.post .detail-wrap .entry-header .author-date,
.blogPage #main article.post .detail-wrap .entry-title
 {
	margin: 15px;
}

@media (max-width: 600px) {
	.blogPage article.post {
		width: 200px;
	}
}

.main-banner.homePage .container .row{ 
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.main-banner.homePage {
	padding: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 135px !important;
	position: relative;
}

#polaroidSlider {
	padding: 0;
	white-space: nowrap;
	display: flex;
	width: 100vw;
	flex: 0 0 auto;
	position: relative;
	transition: all 0.5s linear;
	margin: 0 auto;
}

#polaroidSlider .containerWrapper {
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	flex: 0 0 auto;
	position: relative;
	z-index: -1;
}

#polaroidSlider .container:last-child {

}

#polaroidSlider .containerWrapper .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	width: 100%;
}

.main-navigation ul li a:hover,
#masthead .main-navigation li.current-menu-item a, #masthead .main-navigation li.current_page_item a, .main-navigation ul.menu li:hover a, #masthead .main-navigation ul li ul li:hover a, #masthead .main-navigation li.current_page_item ul li:hover a, #masthead .main-navigation ul li ul.sub-menu li ul.sub-menu li:hover a, #masthead .main-navigation ul li ul.sub-menu li ul.sub-menu li.current-menu-item a {
	color: #0098CA !important;
}

.mainHomeContent.container .row .col {
	position: relative;
}

.sliderpagination {
	position: absolute;
	z-index: 1;
	max-width: 1150px;
	width: 100%;
	height: 350px;
	padding: 10px;
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;	
}

.sliderpagination .prev, .sliderpagination .next {
	width: 100px;
	padding: 10px;
	z-index: 2;
	height: 100px;
	position: absolute;
	bottom: 0;
}

.sliderpagination .prev {
	left: 0;
}

.sliderpagination .next {
	right: 0;
}

.sliderpagination .prev::before, .sliderpagination .next::before {
	height: 60px;
	width: 50px;
	font-size: 30px;
	color: #fff;
	background: #0098CA;
	font-weight: bold;
	position: absolute;
	top: 40%;
	cursor: pointer !important;
	padding: 10px;
}

.sliderpagination .prev::before {
	content: "\2190";
	left:0;
}

.sliderpagination .next::before {
	content: "\2192";
	right: 0;
}

.wrapper .inner {
	width: 100%;
}

.main-navigation ul li, .main-navigation ul li a {
	padding: 0 10px !important;
	font-size: 15px !important;
}

form.wpcf7-form,
.wpcf7 {
	width: 100%;
	padding-left: 25px;
}

.wpcf7 p,
.wpcf7 p label, 
.wpcf7 p label span,
.wpcf7 p label span input,
.wpcf7 p label span textarea {
	width: 100%;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .nav-links .nav-previous a, .nav-links .nav-next a, .nav-links a, .nav-links .page-numbers.dots {
	background: #0098CA !important;
	border: 1px solid #0098CA !important;
}

.content-area .nav-links a {
	color: #fff !important;
}

.pagination .page-numbers:hover, .pagination .page-numbers.next:hover, .pagination .page-numbers.previous:hover, .pagination .page-numbers.currents {
	background: #fff !important;
	color: #0098CA !important;
	border: 1px solid #0098CA;
}

.nav-links .page-numbers.dots {
	cursor: default;
	background: #0098CA !important;
	border: 1px solid #0098CA !important;
	color: #fff !important;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .nav-links .nav-previous a:hover, .nav-links .nav-next a:hover, .nav-links a:hover {
	color: #0098CA 1!important
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .nav-links a:hoveer {
	background: #fff !important;
	border-color: #0098CA !important;
}

.scrollup {
	background: #0098CA !important;
}

.wp-block-columns > div:first-child {
	margin-right: 30px !important;
}

.wp-block-columns > div:last-child {
	margin-left: 30px !important;
}

.contactCont > div:first-child {
	width: 50%;
	flex-basis: 55% !important;
}

 .content-area a {
	color: #0098CA !important;
}

.post .detail-wrap .entry-header h2.entry-title a, .search .page .detail-wrap .entry-header h2.entry-title a, .search .product .detail-wrap .entry-header h2.entry-title a {
	color: #404040 !important;
}

.navigation.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation.pagination .nav-links {
	width: auto;
}

.detail-wrap .entry-content a.btn-continue:hover:after {
	content: '' !important;
	height: 1px !important;
	position: absolute !important;
	width: 100% !important;
	background-color: #0098CA !important;
	left: 0 !important;
	bottom: 4px !important;
}

article#blog {
	padding: 0;
}

.blogPage #main article.post .entry-img,
.blogPage #main article.post img {
	width: 100%;
}


@media (max-width: 782px) {
	.wrapper {
		flex-wrap: wrap;
	}
	
	.wrapper .item {
		width: 100% !important;
		height: 100% !important;
	}
	
	.WIAwrapper .item {
		width: 100%;
	}
	
	.fullSpanContent {
		width: 100%;
	}
	
	.mean-bar {
		background: transparent !important;
	}
	
	.mean-container .mean-nav {
		margin-top: 100px;
	}
	
	.sliderpagination {
		display: none;
	}
	
	.fullSpanCont {
		flex-wrap: wrap;
	}
	
	.fullSpanCont .WIAwrapper {
		width: 100%;
	}
	
	.wp-block-columns > div:first-child,
	.wp-block-columns > div:last-child	 {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}


.underConstruction {
	overflow: hidden;
	height: 80vh;
}

.inner, .inner .msg {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 95%;
	width: 95%;
	background: #fff;
	height: 100vh;
}

.msg {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 90%;
	padding: 0 50px;
}

.sm, .med, .lg {
	display: inline-block;
}

.sm {
	background: url(../../assets/img/dark.svg);
	height: 50px;
	width: 50px;
	
}
.med {
	background: url(../../assets/img/normal.svg);
	width: 100px;
	height: 100px;
}

.lg {
	background: url(../../assets/img/light.svg);
	height: 150px;
	width: 150px; 
}

h1 {
	font-size: 46px;	
	text-align: center;
}
